/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
.btn btn-outline-light me-2 {
  margin-right: 5px;
}
a{
  margin-right: 5px;
}
.navbar-nav{
  align-content: inherit;
}
span{
  color: white;
  text-align: center;
}
p{
  color: white;
  text-align: center;
}
.nav-item{
  text-justify: auto;
  text-transform: uppercase;
  font-size: large;
  font-weight: bolder;
}