{% extends 'base.html' %}

{% block title %} bio {% endblock %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=True)%}
{% for category,message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="card">
		<form method="POST" action="{{url_for('bio_data')}}">
			<div class="card-body rounded-4 shadow">
				<div class="card-header bg-white border-bottom-0 p-5 pb-4">
					<h3 class="fw-bold mb-0 fs-2">Update Your Bio</h3>
				</div>
			{{ form.birthday.label(class='mb-0') }}
			{{ form.birthday(class='form-control mb-2') }}
			{{ form.town.label(class="mb-0") }}
			{{ form.town(class='form-control mb-2') }}
			{{ form.country.label(class="mb-0") }}
			{{ form.country(class='form-control mb-2')}}
			{{ form.physical_address.label(class="mb-0") }}
			{{ form.physical_address(class='form-control mb-2') }}
			{{ form.submit(class='form-control mb-2 btn btn-lg rounded-3 btn-primary', style='margin-top:5px;')}}
		</div>
		</form>
	</div>
	</div>
	</div>
	
</div>


{% endblock %}