{% extends 'base.html' %}

{% block title %} bio {% endblock %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=True)%}
{% for category,message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}

<div class="row">
	<div class="col-md-4 justify-content-center">
		<div class="card">
			<div class="card-body bg-primary shadow text-center text-uppercase">
				<center><img src="../static/assets/dr_bot_favicon_tranparent.png" style="width:100px; height: 70px;"></a></center>
				<span class="fw-bold">Name</span>
				<p class="text-capitalize">{{current_user.first_name}} {{ current_user.last_name }}</p>
				<span class="fw-bold">Email</span>
				<p class="text-lowercase">{{ current_user.email }}</p>
				<span class="fw-bold">Phone</span>
				<p class="text-capitalize">{{bio.phone}}</p>
				<span class="fw-bold">Date of Birth</span>
				<p class="text-capitalize">{{bio.birthday}}</p>
				<span class="fw-bold">Physical Adress</span>
				<p class="text-capitalize">{{bio.physical_address}}</p>
				<span class="fw-bold">Town</span>
				<p class="text-capitalize">{{bio.town}}</p>
				<span class="fw-bold">Country</span>
				<p class="text-capitalize">{{bio.country}}</p>


			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card">
		<form method="POST" action="{{url_for('bio_data')}}">
			<div class="card-body rounded-4 shadow">
				<div class="card-header bg-white border-bottom-0 p-5 pb-4">
					<h3 class="fw-bold mb-0 fs-2">Update Your Bio</h3>
				</div>
				{{form.csrf_token}}
			{{ form.birthday.label(class='mb-0') }}
			{{ form.birthday(class='form-control mb-2',value='{{bio.birthday}}') }}
			{{ form.phone.label(class="mb-0") }}
			{{ form.phone(class='form-control mb-2') }}
			{{ form.town.label(class="mb-0") }}
			{{ form.town(class='form-control mb-2') }}
			{{ form.country.label(class="mb-0") }}
			{{ form.country(class='form-control mb-2')}}
			{{ form.physical_address.label(class="mb-0") }}
			{{ form.physical_address(class='form-control mb-2') }}
			{{ form.submit(class='form-control mb-2 btn btn-lg rounded-3 btn-primary', style='margin-top:5px;')}}
		</div>
		</form>
	</div>
	</div>
	</div>
	
</div>


{% endblock %}